# Backup and garbage files
*~
*.swp

# Music library
library

# Password file
passwd.cfg

# Playlist file
playlist.m3u

# State file for nextrak
state.json

# Logs
log

# Python bytecode
*.pyc

# PID storage
*.pid

# Currently playing file
current.mp3

# Lock files
*.lock

# Metadata for current track group
metadata.json
