body {
    background: #08c;
    color: #000;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 2ex 0;
}

#player {
    font-size: 12pt;
    width: 20em;
}

@media only screen and (min-width: 600px) {
    body #player {
        font-size: 16pt;
    }
}
#player .controls {
    display: flex;
}

#player .controls button {
    width: 1.75em;
    height: 1.75em;
    border: 0;
    border-radius: 50%;
    background: #fff;
}

#player .controls button:hover {
    background: #ddd;
}

#player .controls input {
    flex-grow: 1;
    width: 100%;
    margin-left: 1em;
}
#player .recents div,
#player .playing div {
    height: 2.5ex;
}

#player .heading,
#player .controls,
#player .playing,
#player .recents,
#player #listeners {
    background: #ccc;
}

#player .heading {
    text-align: center;
    background: #008;
    color: #fff;
    border-radius: 1ex 1ex 0 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#player .controls {
    color: #fff;
    padding: 5px;
}

#player .playing div,
#player .recents div {
    padding: .1ex .5em;
}

#player .playing #playinglabel,
#player .recents #recentlabel {
    background: #800;
    color: #fff;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#player #listeners {
    background: #088;
    color: #fff;
    border-radius: 0 0 1ex 1ex;
    padding: .1ex .5em;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#player .playing div,
#player .recents div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#player > div {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#playingbox,
#recentbox {
    display: none;
}

#playingbox.visible,
#recentbox.visible {
    display: block;
}

#station {
    padding: 0;
    border: 0;
    background: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    width: 100%;
    outline: none;
}

#station option {
    color: #000;
}
